{% extends "base.html" %}
{% block pageheader %}
    <h1 class="m-0"> <i class="fa fa-warning text-red"></i>Delete Success</h1>
{% endblock %}
{% block body %}
    <section class="content">

      <div class="error-page">
        <h2 class="headline text-green">200</h2>

        <div class="error-content">
          <h3>Your have deleted successfully.<br>
              <strong>
                  You could click <a href="/post">here</a> to pay up.
              </strong>
          </h3>

        </div>
      </div>
    </section>
{% endblock %}
